---
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

export interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  headerVariant?: "default" | "hero";
  mainClass?: string;
}
const {
  title = "",
  description = "",
  ogImage,
  headerVariant = "default",
  mainClass = "",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {ogImage && <meta property="og:image" content={ogImage} />}

    <ClientRouter />
  </head>
  <body class="flex flex-col min-h-screen">
    <Header variant={headerVariant} />
    <main class:list={["flex-1 pt-16 lg:pt-24 bg-white", mainClass]}>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
